{
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server celler server.",
        "title": "Swagger Example API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "ec2-3-34-137-70.ap-northeast-2.compute.amazonaws.com:8080/",
    "basePath": "/api/v1",
    "paths": {
        "/apple/login": {
            "post": {
                "description": "apple Login",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "apple Login",
                "parameters": [
                    {
                        "description": "Apple 로그인",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/controllers.AppleLoginRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.loginResponseBody"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPLoginError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/bottle": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get string by Bottle ID",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "bottle"
                ],
                "summary": "Show an Bottle",
                "parameters": [
                    {
                        "type": "string",
                        "example": "bottle ID",
                        "name": "bottleId",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.GetBottleResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "새로운 유리병을 생성합니다. \u003cbr /\u003e 유리병의 이름을 입력할 수 있습니다. 아무값 없이 요청하면 \"default\" 이름을 갖게 됩니다.",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "bottle"
                ],
                "summary": "Create BOTTLE by userID",
                "parameters": [
                    {
                        "description": "Create Bottle request body",
                        "name": "title",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/controllers.CreateBottleRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/entity.Bottle"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/bottle/img": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get string by Bottle ID, return bottle img uri",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "bottle"
                ],
                "summary": "Show an Bottle img",
                "parameters": [
                    {
                        "type": "string",
                        "example": "bottle ID",
                        "name": "bottleId",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.GetBottleImgResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/bottle/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "GET bottle list",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "bottle"
                ],
                "summary": "유리병 목록 조회",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/entity.Bottle"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/bottle/status": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update bottle isOpenStatus by Bottle ID",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "bottle"
                ],
                "summary": "Update an Bottle isOpen status",
                "parameters": [
                    {
                        "description": "bottle Id string",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/controllers.UpdateBottleStatusRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.StatusResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/kakao/login": {
            "post": {
                "description": "kakao access Token",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "kakao access Token",
                "parameters": [
                    {
                        "description": "kakao 로그인",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/controllers.KakaoTokenRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.loginResponseBody"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPLoginError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/pwaa": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "단일 기록 세부사항 조회",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "pwaa"
                ],
                "summary": "기록 세부사항 조회",
                "parameters": [
                    {
                        "type": "string",
                        "example": "pwaa ID",
                        "name": "id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/entity.Pwaa"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "유리병에 단일 로그 생성",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "pwaa"
                ],
                "summary": "로그 생성",
                "parameters": [
                    {
                        "description": "create pwaa",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/controllers.CreatePwaaRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.CreatePwaaResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/pwaa/list": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "다중기록 조회 (유리병 단위)",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "pwaa"
                ],
                "summary": "기록 목록 조회",
                "parameters": [
                    {
                        "type": "string",
                        "example": "bottle ID",
                        "name": "bottleId",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/entity.Pwaa"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/signin": {
            "post": {
                "description": "유저 닉네임 생성",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "유저 닉네임 생성",
                "parameters": [
                    {
                        "description": "Signin request Body",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/controllers.SignInRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.SigninResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/test/login": {
            "post": {
                "description": "테스트 유저 로그인",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "test"
                ],
                "summary": "테스트 유저 로그인",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.loginResponseBody"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/twitter/access-token": {
            "get": {
                "description": "트위터 access Token",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "트위터 access Token",
                "parameters": [
                    {
                        "type": "string",
                        "name": "callbackURL",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "oauth_token",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "oauth_token_secret",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "oauth_verifier",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/twitter/requset-token": {
            "get": {
                "description": "트위터 request Token",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "트위터 request Token",
                "parameters": [
                    {
                        "type": "string",
                        "name": "callback_url",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "description": "로그인",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "로그인",
                "parameters": [
                    {
                        "description": "유저 로그인 토큰 발급",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/controllers.LoginRequestBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/controllers.loginResponseBody"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/httputil.HTTPError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "controllers.AppleLoginRequestBody": {
            "type": "object",
            "properties": {
                "user": {
                    "type": "string"
                }
            }
        },
        "controllers.CreateBottleRequestBody": {
            "type": "object",
            "properties": {
                "maturityDate": {
                    "type": "string",
                    "example": "date JSON string"
                },
                "title": {
                    "type": "string",
                    "example": "bottle title (optional)"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "controllers.CreatePwaaRequestBody": {
            "type": "object",
            "properties": {
                "bottleId": {
                    "type": "string",
                    "example": "bottle ID"
                },
                "content": {
                    "type": "string",
                    "example": "each log text"
                },
                "worth": {
                    "type": "integer",
                    "example": 0
                }
            }
        },
        "controllers.CreatePwaaResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "ok"
                }
            }
        },
        "controllers.GetBottleImgResponse": {
            "type": "object",
            "properties": {
                "imgUri": {
                    "type": "string",
                    "example": "any.img.uri"
                }
            }
        },
        "controllers.GetBottleResponse": {
            "type": "object",
            "properties": {
                "imgUri": {
                    "type": "string",
                    "example": "uri.string.com"
                },
                "index": {
                    "type": "string",
                    "example": "1"
                },
                "isOpen": {
                    "type": "boolean",
                    "example": false
                },
                "maturityDate": {
                    "type": "string",
                    "example": "2022-03-04T03:16:49.767Z"
                },
                "pwaaList": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/entity.Pwaa"
                    }
                },
                "title": {
                    "type": "string",
                    "example": "Bottle title"
                },
                "totalWorth": {
                    "type": "integer",
                    "example": 2300000
                },
                "type": {
                    "type": "string",
                    "example": "1"
                }
            }
        },
        "controllers.KakaoTokenRequestBody": {
            "type": "object",
            "properties": {
                "client_id": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                },
                "redirect_uri": {
                    "type": "string"
                }
            }
        },
        "controllers.LoginRequestBody": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                }
            }
        },
        "controllers.SignInRequestBody": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "nickName": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "controllers.SigninResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "controllers.StatusResponse": {
            "type": "object",
            "properties": {
                "imgUri": {
                    "type": "string"
                }
            }
        },
        "controllers.UpdateBottleStatusRequestBody": {
            "type": "object",
            "properties": {
                "bottleId": {
                    "type": "string"
                }
            }
        },
        "controllers.loginResponseBody": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string",
                    "example": "token string (JWT)"
                }
            }
        },
        "entity.Bottle": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string",
                    "example": ""
                },
                "id": {
                    "type": "string"
                },
                "imgUri": {
                    "type": "string",
                    "example": "any.img.uri"
                },
                "index": {
                    "type": "string",
                    "example": "1"
                },
                "isOpen": {
                    "type": "boolean",
                    "example": false
                },
                "maturityDate": {
                    "type": "string",
                    "example": ""
                },
                "title": {
                    "type": "string",
                    "example": "default"
                },
                "type": {
                    "type": "string",
                    "example": "1"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "entity.Pwaa": {
            "type": "object",
            "required": [
                "content",
                "worth"
            ],
            "properties": {
                "bottleId": {
                    "type": "string"
                },
                "content": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                },
                "worth": {
                    "type": "integer"
                }
            }
        },
        "httputil.HTTPError": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "example": 400
                },
                "message": {
                    "type": "string",
                    "example": "status bad request"
                }
            }
        },
        "httputil.HTTPLoginError": {
            "type": "object",
            "properties": {
                "Key": {
                    "type": "string",
                    "example": "user Primary Id"
                },
                "message": {
                    "type": "string",
                    "example": "error message"
                },
                "type": {
                    "type": "string",
                    "example": "User type kakao, twitter, apple"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}